# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore generated reports
reports/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore the DB Config Files
.credentials_sosdb.py
